<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
      	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
      	<meta name="author" content="belka"/>
        <title>{% block title %}RH ADMIN{% endblock %}</title>

        {% block stylesheets %}
        <!-- Font awesome -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/font-awesome.min.css">
      	<!-- Sandstone Bootstrap CSS -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/bootstrap.min.css">
      	<!-- Bootstrap Datatables -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/dataTables.bootstrap.min.css">
      	<!-- Bootstrap social button library -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/bootstrap-social.css">
      	<!-- Bootstrap select -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/bootstrap-select.css">
      	<!-- Bootstrap file input -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/fileinput.min.css">
      	<!-- Awesome Bootstrap checkbox -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/awesome-bootstrap-checkbox.css">
      	<!-- Admin Stye -->
      	<link rel="stylesheet" href="bundles/bootstrap/css/style.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        <script src="bundles/bootstrap/js/jquery.min.js"></script>
      	<script src="bundles/bootstrap/js/bootstrap-select.min.js"></script>
      	<script src="bundles/bootstrap/js/bootstrap.min.js"></script>
      	<script src="bundles/bootstrap/js/jquery.dataTables.min.js"></script>
      	<script src="bundles/bootstrap/js/dataTables.bootstrap.min.js"></script>
      	<script src="bundles/bootstrap/js/Chart.min.js"></script>
      	<script src="bundles/bootstrap/js/fileinput.js"></script>
      	<script src="bundles/bootstrap/js/chartData.js"></script>
      	<script src="bundles/bootstrap/js/main.js"></script>
        {% endblock %}
    </body>
</html>
