{% extends 'base.html.twig' %}
{% block body %}
  <div class="login-page bk-img" style="background-image: url(bundles/bootstrap/img/login-bg.jpg);">
    <div class="form-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center text-bold text-light mt-4x">Sign in</h1>
            <div class="well row pt-2x pb-3x bk-light">
            <div class="col-md-8 col-md-offset-2">
                <form action="{{"/loginSalarie"}}" method="post" class="mt">

                  <label for="" class="text-uppercase text-sm">Your Username </label>
                  <input type="text" placeholder="Username"  name="username" class="form-control mb">

                  <label for="" class="text-uppercase text-sm">Password</label>
                    <input type="password" placeholder="Password" name="pass" class="form-control mb">

                    <div class="checkbox checkbox-circle checkbox-info">
                      <input id="checkbox7" type="checkbox" checked>
                    <label for="checkbox7">
                      Keep me signed in
                    </label>
                  </div>

                  <button class="btn btn-primary btn-block" type="submit">LOGIN</button>

              </form>
            </div>
          </div>
          <div class="text-center text-light">
            <a href="#" class="text-light">Forgot password?</a>
          </div>
        </div>
          </div>
        </div>
    </div>
  </div>


{% endblock %}
